%button-styling {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    height: 3rem;
    line-height: 3rem;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
    @include transition(all 0.2s);
    @include fontSize(16px);

    &:hover, &:focus {
        outline: 0;
    }

    .table-action-wrapper & {
        height: 2.3rem;
        line-height: 2.3rem;
        @include fontSize(13px);

        i {
            margin-right: 5px;
        }
    }

    &.button-icon-left {
        i {
            margin-right: 5px;
            font-size: inherit;
        }
    }

    &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.7;
    }
}
.button-primary {
    @extend %button-styling;
    background-color: $button-primary-bg-color;
    color: $button-primary-text-color;
    border: 1px solid $button-primary-border-color;
    text-decoration: none !important;

    a {
        color: inherit;
        text-decoration: none;
        display: block;
    }

    &.button-with-dropdown {
        padding-right: calculateRem(50px);

        a {
            text-decoration: none;
            color: inherit;
        }

        .dropdown-trigger {
            position: absolute;
            right: 0;
            top: 0;
            width: calculateRem(30px);
            height: calculateRem(46px);
            line-height: calculateRem(46px);
            vertical-align: middle;
            text-align: center;
            border-left: 1px solid $button-primary-border-color;
        }
    }

    &:focus {
        background-color: $button-primary-bg-color;
        color: $button-primary-text-color;
        border-color: $button-primary-border-color;
    }

    &:hover {
        background-color: darken($button-primary-bg-color, 10%);
        color: $button-primary-text-color;
        border-color: $button-primary-border-color;
    }

    &.button-stroked {
        background-color: transparent;
        color: $button-primary-bg-color;
        border: 1px solid $button-primary-border-color;

        &:focus {
            color: $button-primary-bg-color;
            border-color: $button-primary-border-color;
        }

        &:hover { 
            background-color: darken($button-primary-bg-color, 10%);
            color: $color-white;
        }
    }

    &.saveRow {
        display: none;
    }
}

.button-wrapper {
    .button-primary {
        & + .button-primary {
            margin-left: 10px;
        }
    }
}

.save-search-trigger {
    i {
        margin-left: 5px;
    }
}