%card-title-styling {
    @include fontSize(24px);
    line-height: calculateRem(32px);
    font-weight: 600;
    display: block;
    margin-bottom: calculateRem(20px);

    small {
        font-size: 50%;
        line-height: 1;
        font-style: italic;
        font-weight: 400;
    }
}


.approved {
    color: $approve-text-color;
}

.draft {
    color: $draft-text-color;
}

.reject {
    color: $reject-text-color;
}

.approved, .draft, .reject { 
    font-size: 120%;
    font-weight: bold;
    font-family: $primary-font;
}

.datatable {
    height: 400px;
    margin-left: -24px;
    margin-right: -24px;
    width: auto;

    &.ag-theme-material {
        color: $datatable-text-color;
        font-family: $primary-font;
        color: $secondary-color;

        .card & {
            margin-bottom: -24px;

            .ag-paging-panel {
                background-color: $datatable-header-bg-color;
            }
        }

        .card .datatable-2-col & {
            .ag-paging-panel { 
                height: 102px;
                padding-top: $grid-gutter-width/2;
                @include align-items(start);
                @include justify-content(center);
            }
        }

        .ag-header {
            background-color: $datatable-header-bg-color;
            font-family: $secondary-font;
            @include fontSize(15px);
            color: $secondary-color;
        }

        .ag-cell {
            text-transform: capitalize;
            
            &.data-error {
                background-color: $error-color;
                color: $color-white;

                input {
                   &:not([type]), &[type=date], &[type=datetime-local], &[type=number], &[type=tel], &[type=text] {
                        color: $color-white;
                    }
                }
            }
        }

        .ag-header-cell {
            .ag-header-cell-menu-button {
                opacity: 1 !important;
            }
        }

        .ag-header-cell,
        .ag-header-group-cell {
            background-color: $datatable-header-bg-color;

            &:first-of-type {
                &.ag-column-resizing, &:hover {
                    background-color: darken($datatable-header-bg-color, 5%);
                }
            }
        }
        .ag-header-cell {
            &:not(.ag-column-resizing) + .ag-header-cell {
                &.ag-column-resizing, &:hover {
                    background-color: darken($datatable-header-bg-color, 5%);
                }
            }
        }
        .ag-header-group-cell {
            &:not(.ag-column-resizing) + .ag-header-group-cell {
              &.ag-column-resizing, &:hover {
                background-color: darken($datatable-header-bg-color, 5%);
              }
            }
        }

        .ag-row-selected {
            background-color: $datatable-selected-row-bg-color;
        }

        .edited-row, .primary-row {
            background-color: darken($datatable-selected-row-bg-color, 5%);
        }

        .ag-row{
            &.disable-row{
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 2;
                    background-color: rgba($color-black,0.1);
                }
            }

            .upc-status > a {
                position: relative;
                z-index: 3;
                
                i {
                    width: 20px;
                    display: inline-block;
                }
            }
        }

        .ag-icon {
            color: $datatable-text-color;

            &.ag-icon-checkbox-checked {
                color: $datatable-selected-checkbox-color;
            }
        }

        .ag-details-row {
            padding: $grid-gutter-width/2;
            
            .ag-theme-material {
                border: 1px solid $datatable-header-bg-color;
            }
        }

        .datatabel-action-btn-wrapper {
            a {
                @include fontSize(24px);
                display: inline-block;

                & + a {
                    margin-left: $grid-gutter-width/2;
                }
            }
        }
    }

    &.ag-theme-material {
        .ag-ltr {
            .ag-cell-focus.ag-cell-range-single-cell.ag-cell-range-handle {
                border-color: $primary-color;
            }
        
            .ag-has-focus .ag-cell-focus {
                &.ag-cell-range-single-cell, &:not(.ag-cell-range-selected) {
                    border-color: $primary-color;
                }
            }
        }
        
        .ag-rtl {
            .ag-cell-focus.ag-cell-range-single-cell.ag-cell-range-handle {
                border-color: $primary-color;
            }
        
            .ag-has-focus .ag-cell-focus {
                &.ag-cell-range-single-cell, &:not(.ag-cell-range-selected) {
                    border-color: $primary-color;
                }
            }
        }

        .ag-input-wrapper input {
            &:not([type]):focus, &[type=date]:focus, &[type=datetime-local]:focus, &[type=number]:focus, &[type=tel]:focus, &[type=text]:focus {
                border-color: $primary-color;
            }
        }
    }
}

.button-wrapper {
    .header-action-item {
        margin-top: 0;
        margin-bottom: 0;

        & + .header-action-item {
            margin-left: 10px;
        }

        &.header-action-item-select:not(.header-action-item-select-vendoe) {
            .select-wrapper {
                width: 60px;
            }
        }
    }
}

.page-size-label {
    margin-right: 8px;
    position: relative;
    top: -4px;
    font-weight: 600;
}

.card {
    .card-title, .card-content .card-title {
        @extend %card-title-styling;
    }
}

.collapsible-data-table {

    .card-tab-content-wrapper & {
        margin: 4px -#{$card-tab-wrapper-padding} -1px;
        border: none;
        box-shadow: none;
    }

    .collapsible-header {
        position: relative;
        padding-left: calculateRem(50px);
        
        .header-title {
            h3 {
                @extend %card-title-styling;
            }
        }

        .collapsible-header-icon-wrapper {
            position: absolute;
            left: 0;
            top: 20px;
            text-align: center;
            width: calculateRem(45px);

            .fa {
                @include font-size(16px);
                margin-right: 0;
                &:before {
                    content: "\f067";
                }
            }
        }

        .header-action-wrapper {
            h3 {
                @extend %card-title-styling;
            }

            .input-field {
                margin: 0 10px 0 0;
            }
        }
    }

    .active {
        .collapsible-header {
            .collapsible-header-icon-wrapper {
                .fa {
                    &:before {
                        content: "\f068";
                    }
                }
            }
        }
    }

    .collapsible-body {
        background-color: $color-white;
        padding: 0 24px;
        position: relative;

        .footer-btn-wrapper {
            position: absolute;
            bottom: 10px;
            right: 25px;
            z-index: 1;
        }
    }

    .ag-paging-panel {
        padding-right: calculateRem(180px);
        background-color: $datatable-header-bg-color;
    }
}

.header-search-wrapper {
    .file-path-wrapper {
        input.file-path {
            margin-bottom: 0;
        }
    }
}

.info-msg {
    margin-top: 10px;
    font-style: italic;

    &.error {
        color: $error-color;
    }
}

.datatable-header-select {
    .input-field {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.datatable-action-item-select {
    .select-wrapper {
        width: 60px;
    }
}

.card-header {
    margin-bottom: 15px;
}

.datatable-wrapper {
    position: relative;

    .datatable-action-item-select {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &.datatable-2-col  {

        .datatable-action-item-select { 
            right: 0;
            width: 100%;
        }
    }
}

.header-search-card-wrapper {
    .button-search {
        min-width: 200px;
    }

    .button-wrapper {
        .button-primary {
            & + .button-primary {
                margin-left: 10px;
            }
        }
    }
}


.item-detail-tab-wrapper {
    .datatable.ag-theme-material .ag-header-cell {
        .ag-header-cell-menu-button  .ag-icon {
            display: none;
        }
    }
}