%card-title-styling {
    @include fontSize(24px);
    line-height: calculateRem(32px);
    font-weight: 600;
    display: block;
    margin-bottom: 8px;

    small {
        font-size: 50%;
        line-height: 1;
        font-style: italic;
        font-weight: 400;
    }
}

.datatable {
    height: 400px;
    margin-left: -24px;
    margin-right: -24px;
    width: auto;

    &.ag-theme-material {
        color: $datatable-text-color;

        .card & {
            margin-bottom: -24px;

            .ag-paging-panel {
                background-color: $datatable-header-bg-color;
            }
        }

        .ag-header {
            background-color: $datatable-header-bg-color;
        }

        .ag-cell {
            &.data-error {
                background-color: $error-color;
                color: $color-white;
            }
        }

        .ag-header-cell,
        .ag-header-group-cell {
            background-color: $datatable-header-bg-color;

            &:first-of-type {
                &.ag-column-resizing, &:hover {
                    background-color: darken($datatable-header-bg-color, 5%);
                }
            }
        }
        .ag-header-cell {
            &:not(.ag-column-resizing) + .ag-header-cell {
                &.ag-column-resizing, &:hover {
                    background-color: darken($datatable-header-bg-color, 5%);
                }
            }
        }
        .ag-header-group-cell {
            &:not(.ag-column-resizing) + .ag-header-group-cell {
              &.ag-column-resizing, &:hover {
                background-color: darken($datatable-header-bg-color, 5%);
              }
            }
        }

        .ag-row-selected {
            background-color: $datatable-selected-row-bg-color;
        }

        .ag-icon {
            color: $datatable-text-color;

            &.ag-icon-checkbox-checked {
                color: $datatable-selected-checkbox-color;
            }
        }
    }

    &.ag-theme-material {
        .ag-ltr {
            .ag-cell-focus.ag-cell-range-single-cell.ag-cell-range-handle {
                border-color: $primary-color;
            }
        
            .ag-has-focus .ag-cell-focus {
                &.ag-cell-range-single-cell, &:not(.ag-cell-range-selected) {
                    border-color: $primary-color;
                }
            }
        }
        
        .ag-rtl {
            .ag-cell-focus.ag-cell-range-single-cell.ag-cell-range-handle {
                border-color: $primary-color;
            }
        
            .ag-has-focus .ag-cell-focus {
                &.ag-cell-range-single-cell, &:not(.ag-cell-range-selected) {
                    border-color: $primary-color;
                }
            }
        }

        .ag-input-wrapper input {
            &:not([type]):focus, &[type=date]:focus, &[type=datetime-local]:focus, &[type=number]:focus, &[type=tel]:focus, &[type=text]:focus {
                border-color: $primary-color;
            }
        }
    }
}

.card-header-action-wrapper {
    .button-wrapper {
        .header-action-item {
            & + .header-action-item {
                margin-left: 10px;
            }

            &.header-action-item-select:not(.header-action-item-select-vendoe) {
                .select-wrapper {
                    width: 90px;
                }
            }
        }
    }
}

.page-size-label {
    margin-right: 8px;
    position: relative;
    top: -5px;
}

.card {
    .card-title {
        @extend %card-title-styling;
    }
}

.collapsible-data-table {
    .collapsible-header {
        .header-title {
            h3 {
                @extend %card-title-styling;

                .fa {
                    @include font-size(16px);
                    &:before {
                        content: "\f067";
                    }
                }
            }
        }

        .header-action-wrapper {
            h3 {
                @extend %card-title-styling;
            }
        }
    }

    .active {
        .collapsible-header {
            .header-title {
                h3 {
                    .fa {
                        &:before {
                            content: "\f068";
                        }
                    }
                }
            }
        }
    }

    .collapsible-body {
        background-color: $color-white;
        padding: 0 24px;
        position: relative;

        .footer-btn-wrapper {
            position: absolute;
            bottom: 10px;
            right: 25px;
            z-index: 1;
        }
    }

    .ag-paging-panel {
        padding-right: calculateRem(180px);
        background-color: $datatable-header-bg-color;
    }
}

.header-search-wrapper {
    .file-path-wrapper {
        input.file-path {
            margin-bottom: 0;
        }
    }
}
