.modal {
    .modal-title {
        margin-bottom: calculateRem(20px);
        h3 {
            margin-bottom: 0;
            @include fontSize(24px);
            line-height: 1.2;
        }
    }
    
    .modal-footer {
        padding-left: calculateRem(24px);
        padding-right: calculateRem(24px);
    }

    &.modal-fixed-footer {
        .modal-footer {
            padding: calculateRem(10px) calculateRem(15px);
            height: calculateRem(67px);
        }
    }

    &#deleteSavedSearchModal,
    &#updateItemRowModal {
        max-width: 400px;
        text-align: center;
        
        .modal-footer {
            text-align: center;
        }
    }

    &#serverSideItemRowModal {
        max-width: 740px;
        text-align: center;
        
        .modal-footer {
            text-align: center;
        }
    }

    &#advSeachModal {
        width: 100%;
        max-width: 1050px;
    }

    &#saveSearchModal {
        width: 100%;
        max-width: 450px;
    }
}

.modal-form-wrapper {
    .button-wrapper {
        margin-top: 1rem;
        margin-bottom: 1rem;
        
        .button-primary {

            & + .button-primary {
                margin-left: 10px;
            }
        }
    }
}