.header-container,
.main-body-content-wrapper {
    display: none;
}


.authentication-form-wrapper {
    padding-top: 10px;
}


[type="checkbox"] {
    &.filled-in {
        &:checked {
            & + span {
                &:not(.lever) {
                    &:after {
                        border-color: darken($primary-color, 20%);
                        background-color: darken($primary-color, 20%);
                    }
                }
            }
        }

        &:not(:checked)+span:not(.lever):after {
            border-color: $secondary-color;
        }
    }
}
