html, body {
  height: 100%;
}

body {
  background-color: $body-bg-color;
  color: $body-text-color;
  font-family: $primary-font;
  font-size: $font-size-base;
  font-weight: $body-font-weight;
  line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $secondary-font;
  font-weight: $heading-font-weight;
}

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

a {
  color: $body-link-color;

  &:hover, &:focus {
    color: $body-link-hover-color;
  }
}

.text-truncate {
  @include text-truncate;
}

.input-field {
  > label {
    font-weight: bold;
    font-size: 1.01rem;

    &:not(.label-icon) {
      &.active {
        @include transform(translateY(-14px) scale(0.9));
      }
    }
  }
}

.mat-form-field-label {
  margin-bottom: 0;
}

.mat-flat-button {
  &:focus {
    outline: 1px dotted;
    outline: 5px auto $button-focus-outline-color;
  }
}

.button-block {
  display: block !important;
  width: 100%;
}

.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    color: rgba($input-hover-border-color, 0.12) !important;
  }

  .mat-form-field-outline-thick {
    color: rgba($input-hover-border-color, 0.87) !important;
  }

  &.mat-focused {
    .mat-form-field-outline-thick,
    .mat-form-field-prefix {
      color:  $form-focus-color !important;
    }
  }

  &.mat-form-field-invalid.mat-form-field-invalid {
    .mat-form-field-outline-thick,
    .mat-form-field-prefix {
      color:  $error-color !important;
    }
  }
}

.mat-form-field-subscript-wrapper {
  position: relative !important;
}

.left-sidebar-menu-wrapper .level-2,
.left-sidebar-menu-wrapper .level-3 {
  background-color: rgba(0,0,0,0.1);
}

.main-body-content-wrapper {
  padding-left: calculateRem($left-menu-content-width);
  @include transition(padding 0.2s);

  .left-menu-fixed & {
    padding-left: calculateRem($left-menu-content-fixed-width);
  }
}

.card {
  .card-title {
    #select-row-num {
      font-size: 14px;
    }
  }
}

.row {
  margin-bottom: 0;
}

.datepicker {
  border-bottom: 1px solid #9e9e9e !important;
  font-family: $primary-font;
}

.flatpickr-day {
  &.selected, &.startRange, &.endRange, &.selected.inRange, &.startRange.inRange, &.endRange.inRange, &.selected:focus, &.startRange:focus, &.endRange:focus, &.selected:hover, &.startRange:hover, &.endRange:hover, &.selected.prevMonthDay, &.startRange.prevMonthDay, &.endRange.prevMonthDay, &.selected.nextMonthDay, &.startRange.nextMonthDay, &.endRange.nextMonthDay {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  &.today {
    border-color: $primary-color;

    &:hover, &:focus {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
}

input {
  &:not([type]):focus:not([readonly]), &[type=text]:not(.browser-default):focus:not([readonly]), &[type=password]:not(.browser-default):focus:not([readonly]), &[type=email]:not(.browser-default):focus:not([readonly]), &[type=url]:not(.browser-default):focus:not([readonly]), &[type=time]:not(.browser-default):focus:not([readonly]), &[type=date]:not(.browser-default):focus:not([readonly]), &[type=datetime]:not(.browser-default):focus:not([readonly]), &[type=datetime-local]:not(.browser-default):focus:not([readonly]), &[type=tel]:not(.browser-default):focus:not([readonly]), &[type=number]:not(.browser-default):focus:not([readonly]), &[type=search]:not(.browser-default):focus:not([readonly]) {
    border-color: $primary-color;
    @include box-shadow(0 1px 0 0 $primary-color);
  }
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-color: $primary-color;
  @include box-shadow(0 1px 0 0 $primary-color);
}

#toast-container {
  top: auto;
  bottom: 5%;
  right: 20px;
}

.toast {
  background-color: rgba(darken($primary-color, 20%), 0.7);
  color: $color-white;
}

.flatpickr-current-month {
  .flatpickr-monthDropdown-months {
    display: inline-block;
  }

  .numInputWrapper {
    .numInput {
      height: auto;
      border-bottom: none;
      font-size: inherit;
      margin: 0;
    }
  }
}

.select-wrapper {
  input {
    &.select-dropdown {
      @include fontSize(15px);
      color: $secondary-color;
    }
  }
}

input, textarea {
  color: $secondary-color;
}


.saved-search-wrapper {
  min-width: 200px;

  .header-saved-search-item {
    position: relative;
    border-bottom: 1px solid #e8e8e8;

    > a {
      text-decoration: none;
    }

    .removed-saved-search-modal {
      position: absolute;
      right: 0px;
      top: 10px;
      padding: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      color: $error-color;

      i {
        margin: 0;
        display: inline-block;
      }
    }
  }
}

.input-field-icon {
  position: relative;
  box-sizing: border-box;

  .input-field-remove-trigger {
    position: absolute;
    top: 8px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    color: $error-color;
  }

  &.input-field-icon-right{

    input {
      padding-right: 50px;
      box-sizing: border-box;
    }

    .input-field-remove-trigger { 
      right: 10px;
    }
  }
  &.input-field-icon-left {
    input {
      padding-left: 50px;
    }

    .input-field-remove-trigger { 
      left: 10px;
    }
  }
}


.button-with-dropdown {
  .dropdown-content {
    top: auto !important;
    margin-top: 10px;
    overflow: visible;

    &:before, &:after {
      content: '';
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-top: none;
      border-bottom-color: #ffffff;
      position: absolute;
    }

    &:after {
      border-width: 8px;
      border-bottom-color: #d4d4d4;
      z-index: 2;
      top: -8px;
      right: 5px;
    }

    &:before {
      z-index: 3;
      top: -7px;
      right: 6px;
    }
  }
}

#addNewDropdown {
  min-width: 190px;
}

.selectTemplate-wrapper {
  .dropdown-content {
    li {
      text-transform: capitalize;
    }
  }
}

#downloadTemplateTab,
#datatable,
#datatableAdPlanerCustomTemplate {
  .ag-header-cell[col-id="action"],
  .ag-header-cell[col-id="icon"] {
    .ag-header-icon.ag-header-cell-menu-button {
      display: none !important;
    }
  }
}

#updateItemRowModalTextarea {
  min-height: 100px;
}

.change-password-form-wrapper,
.authentication-form-wrapper {
  max-width: calculateRem(500px);

  .input-field {
    padding-bottom: 10px;
  }
}


.header-title {
  width: 100%;
  max-width: 500px;
}

.slick-dots {
  display: table;
  margin: $grid-gutter-width/2 auto;
  @include clearfix();

  li {
    width: 24px;
    height: 14px;
    float: left;
    margin: 0;
    padding: 0 5px;
    
    button {
      border: 1px solid $primary-color;
      background: $color-white;
      display: block;
      border-radius: 50%;
      height: 14px;
      width: 14px;
      overflow: hidden;
      text-indent: -9999px;
      outline: 0 none;
    }

    &.slick-active {
      button {
        background: $primary-color;
      }
    }
  }
}

.collapsible-header {
  .italic {
    width: auto;
    font-size: 100%;
    font-weight: bold;
  }
}

.checkbox-field {
  margin-bottom: 1rem;
}


.collection {
  > li {
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: none;
    }
  }
  a {
    &.collection-item {
      text-decoration: none;
      color: darken($primary-color, 20%);
    }
  }
}

.date-range-wrapper {
  border-bottom: 1px solid #9e9e9e;
  margin-bottom: 8px;
  // @include flexbox();
  // @include align-items(baseline);

  .datepicker-here,
  .input-seperator {
    display: inline-block;
  }

  .datepicker-here {
    border: none !important;
    margin: 0 !important;
    width: auto !important;
  }
  .input-seperator {
    width: 20%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.userSearchDropDownWrapper {
  .autocomplete-content {
    max-height: 250px;
  }
}

.input-seperator {
  @extend %card-title-styling;
  display: inline-block !important;
  margin-bottom: 0 !important;
}
