<div class="header-dropdown-wrapper">
    <a href="javascript:;" class="header-dropdown-trigger"><i class="far fa-user-circle"></i></a>
    <div class="dropdown-menu text-left">
      <div class="header-dropdown-user-profile-wrapper text-center">
        <div class="user-avatar-wrapper">
          <i class="far fa-user-circle"></i>
        </div>
        <div class="user-detail-wrapper">
          <h3><a href="javascript:;">User Name</a></h3>
          <!-- <h5>Admin</h5> -->
        </div>
      </div>
      <ul>
        <!-- <li><a href="javascript:;">Menu 1</a></li>
        <li><a href="javascript:;">Menu 2</a></li> -->
        <li><a href="/change-password.html">Change Password</a></li>
        <li><a href="javascript:;">Logout</a></li>
      </ul>
    </div>
  </div>