<div class="header-container-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 header-left-wrapper">
          <div class="cell-wrapper">
            <div class="header-title-nav-wrapper">
              <div class="title">
                <h3>Vendor Billing</h3>
                <div aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Vendor Billing</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 header-right-wrapper text-right">
          <div class="cell-wrapper">
            <div class="header-dropdown-wrapper">
              <a href="javascript:;" class="header-dropdown-trigger"><i class="far fa-user-circle"></i></a>
              <div class="dropdown-menu">
                <ul>
                  <li><a href="javascript:;">Menu 1</a></li>
                  <li><a href="javascript:;">Menu 2</a></li>
                  <li><a href="javascript:;">Menu 3</a></li>
                  <li><a href="javascript:;">Menu 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>