<div class="left-menu-content-wrapper">
    <div class="left-menu-header-wrapper">
        <div class="d-flex flex-row justify-content-between align-items-start logo-wrapper">
        <a href="/" class="left-menu-logo"><img src="./assets/img/bristol-farms-landscape-logo-white.png" class="img-fluid" alt="Bristol Farms"></a>
        <a href="javscript:;" class="left-menu-trigger"><i class="fas fa-bars"></i></a>
        </div>
        <div class="menu-wrapper">
            <div class="left-sidebar-menu-wrapper">
                <ul>
                    <li><a href="/" class="tooltip" data-position="right" data-tooltip="Home"><i class="label-icon fas fa-home"></i> <span class="label">Home</span></a></li>
                    <li class="has-children">
                        <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Item Management"><i class="label-icon fas fa-tasks"></i> <span class="label">Item Management</span><i class="dropdown-arrow material-icons">keyboard_arrow_down</i></a>
                        <ul class="child-menu level-2">
                            <li>
                                <a href="/view-item.html" class="tooltip" data-position="right" data-tooltip="View Items"><i class="label-icon fas fa-binoculars"></i> <span class="label">View Items</span></a>
                            </li>
                            <li>
                                <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Draft Items"><i class="label-icon fab fa-firstdraft"></i> <span class="label">Draft Items</span></a>
                            </li>
                            <li>
                                <a href="/pending-item.html" class="tooltip" data-position="right" data-tooltip="Pending Items"><i class="label-icon far fa-frown"></i> <span class="label">Pending Items</span></a>
                            </li>
                            <li>
                                <a href="/add-item-data.html" class="tooltip" data-position="right" data-tooltip="Add New Items"><i class="label-icon far fa-plus-square"></i> <span class="label">Add New Items</span></a>
                            </li>
                            <li>
                                <a href="/bulk-upload.html" class="tooltip" data-position="right" data-tooltip="Bulk Upload"><i class="label-icon fas fa-upload"></i> <span class="label">Bulk Upload</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Allowances"><i class="label-icon fas fa-tasks"></i> <span class="label">Allowances</span><i class="dropdown-arrow material-icons">keyboard_arrow_down</i></a>
                        <ul class="child-menu level-2">
                            <li>
                                <a href="/deals.html" class="tooltip" data-position="right" data-tooltip="Upload Deals"><i class="label-icon fas fa-shopping-cart"></i> <span class="label">Upload Deals</span></a>
                            </li>
                            <li>
                                <a href="/pending-deals.html" class="tooltip" data-position="right" data-tooltip="Pending Deals"><i class="label-icon label-icon far fa-frown"></i> <span class="label">Pending Deals</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Promo Planner"><i class="label-icon fas fa-pencil-ruler"></i> <span class="label">Promo Planner</span><i class="dropdown-arrow material-icons">keyboard_arrow_down</i></a>
                        <ul class="child-menu level-2">
                            <li>
                                <a href="/view-promo.html" class="tooltip" data-position="right" data-tooltip="Promo Management"><i class="label-icon fas fa-binoculars"></i> <span class="label">Promo Management</span></a>
                            </li>
                            <li>
                                <a href="/add-promo.html" class="tooltip" data-position="right" data-tooltip="Add New"><i class="label-icon far fa-plus-square"></i> <span class="label">Add New</span></a>
                            </li>
                            <li>
                                <a href="/bulk-maintenance.html" class="tooltip" data-position="right" data-tooltip="Bulk Maintenance"><i class="label-icon fas fa-cogs"></i> <span class="label">Bulk Maintenance</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Vendor Billing"><i class="label-icon far fa-money-bill-alt"></i> <span class="label">Vendor Billing</span><i class="dropdown-arrow material-icons">keyboard_arrow_down</i></a>
                        <ul class="child-menu level-2">
                            <li class="has-children">
                                <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Bills"><i class="label-icon fas fa-wallet"></i> <span class="label">Bills</span><i class="dropdown-arrow material-icons">keyboard_arrow_down</i></a>
                                <ul class="child-menu  level-3">
                                    <li>
                                        <a href="/pending-billing.html" class="tooltip" data-position="right" data-tooltip="Pending Bills"><i class="label-icon far fa-frown"></i> <span class="label">Pending Bills</span></a>
                                    </li>
                                    <li>
                                        <a href="/past-bills.html" class="tooltip" data-position="right" data-tooltip="Past Bills"><i class="label-icon far fa-smile-beam"></i> <span class="label">Past Bills</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Accurals"><i class="label-icon far fa-clipboard"></i> <span class="label">Accurals</span><i class="dropdown-arrow material-icons">keyboard_arrow_down</i></a>
                                <ul class="child-menu  level-3">
                                    <li>
                                        <a href="/pending-accruals.html" class="tooltip" data-position="right" data-tooltip="Pending Accruals"><i class="label-icon far fa-frown"></i> <span class="label">Pending Accruals</span></a>
                                    </li>
                                    <li>
                                        <a href="/past-accruals.html" class="tooltip" data-position="right" data-tooltip="Past Accurals"><i class="label-icon far fa-smile-beam"></i> <span class="label">Past Accurals</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Admin Settings"><i class="label-icon fas fa-user-shield"></i> <span class="label">Admin Settings</span> <i class="dropdown-arrow material-icons">keyboard_arrow_down</i></a>
                        <ul class="child-menu level-2">
                            <li>
                                <a href="/user-management.html" class="tooltip" data-position="right" data-tooltip="User Management"><i class="label-icon fas fa-users"></i> <span class="label">User Management</span></a>
                            </li>
                            <li>
                                <a href="/group-management.html" class="tooltip" data-position="right" data-tooltip="Groups Management"><i class="label-icon fas fa-user-friends"></i> <span class="label">Groups Management</span></a>
                            </li>
                            <li>
                                <a href="/user-registration.html" class="tooltip" data-position="right" data-tooltip="User Registration"><i class="label-icon fas fa-user-plus"></i> <span class="label">Create User</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-link">
            <select id="brandSelector">
                <option value="bristol-farms-landscape-logo-white.png" selected>Bristol Farms</option>
                <option value="mm-logo-white.png">Metropolitian Market</option>
            </select>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() { 

        $('.left-sidebar-menu-wrapper .tooltip').tooltip();

        $('.left-sidebar-menu-wrapper ul li a').each(function(){ 
            var urlPath = window.location.pathname;

            if(urlPath === '/deals-data.html') {
                urlPath = '/deals.html'
            }

            if(urlPath === '/bulk-upload-data.html') {
                urlPath = '/bulk-upload.html'
            }

            if(urlPath === '/pending-billing-process.html' || urlPath === '/pending-billing-finalize.html' ) {
                urlPath = '/pending-billing.html'
            }

            if(urlPath === '/view-item-adv-search-filed.html' || urlPath === '/view-item-data.html') {
                urlPath = '/view-item.html'
            }

            if(urlPath === '/view-promo-adv-search-filed.html' || urlPath === '/view-promo-data.html') {
                urlPath = '/view-promo.html'
            }

            if(urlPath === '/add-promo-template-selection.html' || urlPath === '/add-promo-custom-template.html' || urlPath === '/add-promo-item-detail.html' || urlPath === '/add-promo-item-data.html' || urlPath === '/manage-tpos.html' || urlPath === '/add-promo-item-detail-adv-search.html') {
                urlPath = '/add-promo.html'
            }

            if($(this).attr('href') === urlPath) {
                
                $(this).parent().addClass('active');

                if($(this).closest('.level-3')) {
                    $(this).closest('.level-3').show();
                    $(this).closest('.level-3').parent('li').addClass('active');
                }

                if($(this).closest('.level-2')) {
                    $(this).closest('.level-2').show();
                    $(this).closest('.level-2').parent('li').addClass('active');
                }

            }
        });

        $('select').formSelect();

        
      $('body').on('change', '#brandSelector', function(event) {
        event.preventDefault();
        $('.left-menu-logo img').attr('src', './assets/img/'+$(this).val());
      });
    });
</script>