<div class="left-menu-content-wrapper">
    <div class="left-menu-header-wrapper">
        <div class="d-flex flex-row justify-content-between align-items-start logo-wrapper">
        <a href="javscript:;" class="left-menu-logo"><img src="./assets/img/bristol-farms-landscape-logo-white.png" class="img-fluid" alt="Bristol Farms"></a>
        <a href="javscript:;" class="left-menu-trigger"><i class="fas fa-bars"></i></a>
        </div>
        <div class="menu-wrapper">
        <div class="left-sidebar-menu-wrapper">
            <ul>
            <li class="has-children">
                <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Deals"><i class="label-icon fab fa-angellist"></i> <span class="label">Deals</span> <i class="dropdown-arrow material-icons">keyboard_arrow_down</i></a>
                <ul class="child-menu level-2">
                <li>
                    <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="View Deals"><i class="label-icon fas fa-binoculars"></i> <span class="label">View Deals</span></a>
                </li>
                <li class="has-children">
                    <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Vendor Billing"><i class="label-icon fas fa-file-invoice"></i> <span class="label">Vendor Billing</span> <i class="dropdown-arrow material-icons">keyboard_arrow_down</i></a>
                    <ul class="child-menu  level-3">
                    <li>
                        <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Pending Bills"><i class="label-icon far fa-angry"></i> <span class="label">Pending Bills</span></a>
                    </li>
                    <li class="has-children">
                        <a href="javscript:;" class="tooltip" data-position="right" data-tooltip="Post Bills"><i class="label-icon far fa-smile-beam"></i> <span class="label">Post Bills</span></a>
                    </li>
                    </ul>
                </li>
                </ul>
            </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<script>
$('.left-sidebar-menu-wrapper .tooltip').tooltip();
</script>